$color_1: #8d8a8a;
$color_2: rgb(255, 255, 255);
$color_3: rgb(94, 94, 94);
$color_4: #b3a2a2;
$color_5: #9d869e;
$color_6: #be9fc0;
$color_7: #a18da5;
$color_8: #bbb6c1;
$color_9: grey;
$color_10: rgb(237, 227, 222);
$color_11: #928e87;
$color_12: #BAB5AC;
$color_13: #f1f1f1;
$color_14: #cac8d4;
$color_15: #cacaca;
$color_16: #7cc5ca;
$color_17: rgb(214, 205, 205);
$color_18: #7cc5ca;
$color_19: rgb(196, 185, 185);
$color_20: #dbc7bd;
$color_21: #ffffff;
$color_22: #756975;
$font_family_1: 'Poppins', sans-serif;
$font_family_2: 'Open Sans Condensed', sans-serif;
$font_family_3: 'Nunito Sans', sans-serif;
$background_color_1: rgb(233, 229, 225);
$background_color_2: transparent;
$background_color_3: rgb(89, 89, 89);
$background_color_4: rgb(0, 0, 0);
$background_color_5: #000000;
$background_color_6: #EBEBEB;
$background_color_7: rgba(5, 5, 5, 0.932);
$background_color_8: rgb(0, 0, 0);
$background_color_9: #e5cdce;
$background_color_10: rgba(10, 10, 10, 0.76);
$background_color_11: #aa9898;
$background_color_12: rgb(216, 213, 213);
$border_color_1: #ffffff;

/*!
 * The Coding Sessions - Original Theme Dark
 * Copyright 2019
 * Created by The Coding Sessions
 */
 @import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,400,500,600,700|Nunito+Sans:300,400,500,600,700|Shadows+Into+Light:100,200,300,400,500,600,700|Pavanam:100,200,300,400,500,600,700|Poppins:100,200,300,400,500,600,700');


body {
	font-family: $font_family_1;
	text-align: center;
	color: $color_1;
	height: 100%;
	background-color: $background_color_5;
}
html {
	height: 100%;
}
main {
	height: 100%;
}
.page-heading{
	color: #d6caca;
	text-transform: uppercase;
	text-align: center;
	font-family: "Open Sans Condensed", sans-serif;
	font-weight: bold;
	margin: auto;
	padding-bottom: 40px;
	font-size: 3em;
  }
.diagonalsection {
	-webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 85%);
	clip-path: polygon(0 0, 100% 0, 100% 100%, 0 85%);
	margin-bottom: -8em;
}
.uppercase {
	text-transform: uppercase;
}
#return-to-top {
	position: fixed;
	bottom: 20px;
	right: 20px;
	width: 50px;
	height: 50px;
	text-decoration: none;
	-webkit-border-radius: 35px;
	-moz-border-radius: 35px;
	border-radius: 35px;
	display: none;
	-webkit-transition: all 0.3s linear;
	-moz-transition: all 0.3s ease;
	-ms-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
	i {
		color: $color_2;
		margin: 0;
		position: relative;
		left: 16px;
		top: 13px;
		font-size: 30px;
		-webkit-transition: all 0.3s ease;
		-moz-transition: all 0.3s ease;
		-ms-transition: all 0.3s ease;
		-o-transition: all 0.3s ease;
		transition: all 0.3s ease;
	}
	&:hover {
		i {
			color: $color_3;
			top: 5px;
		}
	}
}
.privacy-policy-alignment {
	text-align: left;
}
.main-header-big {
	color: $color_4;
	text-transform: uppercase;
	text-align: center;
	font-family: $font_family_2;
	font-weight: bold;
	margin: auto;
	padding-bottom: 40px;
	font-size: 2em;
}
.main-header {
	color: $color_5;
	text-transform: uppercase;
	text-align: center;
	font-family: $font_family_2;
	font-weight: bold;
	margin: auto;
	padding-bottom: 40px;
}
.main-header-left {
	color: $color_6;
	text-transform: uppercase;
	text-align: center;
	font-family: $font_family_2;
	font-weight: bold;
	margin: auto;
	padding-bottom: 20px;
	&::before {
		content: "";
		width: 4rem;
		height: 45px;
		border-left: solid 7px #685d66;
		margin-right: 20px;
	}
}
.block-divider-main {
	width: 75px;
	height: 7px;
	border: 0;
	background-image: linear-gradient(135deg, rgb(163, 145, 161), rgb(114, 112, 113));
}
.responsive {
	max-width: 100%;
	height: auto;
}
.bodylink {
	color: $color_7;
	&:hover {
		color: $color_8;
		opacity: 0.6;
		text-decoration: none;
	}
	&:focus {
		color: $color_8;
		outline: 0;
	}
}
@mixin placeholder {
    ::-webkit-input-placeholder {@content}
    :-moz-placeholder           {@content}
    ::-moz-placeholder          {@content}
    :-ms-input-placeholder      {@content}  
 
}
@include placeholder {
	color: $color_9 !important;
	text-transform: uppercase;
}

/*==============================
      // Forms //
==============================*/
input[type=text] {
	background-color: $background_color_1;
	border-style: solid;
	border-width: 1px;
	border-radius: 0px;
	border-color: $border_color_1;
	width: 100%;
	&:focus {
		background-color: $background_color_1;
	}
}
input[type=email] {
	background-color: $background_color_1;
	border-style: solid;
	border-width: 1px;
	border-radius: 0px;
	border-color: $border_color_1;
	width: 100%;
}
textarea.text-area {
	background-color: $background_color_1;
	text-indent: 0.05em;
	border-style: solid;
	border-width: 1px;
	border-radius: 0px;
	border-color: $border_color_1;
	width: 100%;
	&:focus {
		background-color: $background_color_1;
	}
}
input[name=secret] {
	display: none;
}
.btn-light {
	background-color: $background_color_2;
	color: $color_10;
	border: 2px solid #e7e7e7;
	padding: 20px;
	margin: auto;
	border-radius: 0px;
	text-transform: uppercase;
	font-family: $font_family_1;
	text-decoration: none;
	display: inline-block;
	cursor: pointer;
	&:hover {
		background-color: $background_color_2;
		color: $color_10;
		transition: all 0.35s ease-in-out;
		-moz-transition: all 0.35s ease-in-out;
		-webkit-transition: all 0.35s ease-in-out;
		-o-transition: all 0.35s ease-in-out;
	}
	&:active {
		&:focus {
			background-color: $background_color_2;
			background-color: $background_color_3;
		}
	}
}
.btn-dark {
	background-color: $background_color_4;
	border: 1px solid white;
	color: $color_10;
	border: none;
	border-radius: 0px;
	padding: 25px;
	margin: auto;
	text-transform: uppercase;
	font-family: $font_family_1;
	&:hover {
		color: $color_10;
		background-color: $background_color_3;
		transition: all 0.35s ease-in-out;
		-moz-transition: all 0.35s ease-in-out;
		-webkit-transition: all 0.35s ease-in-out;
		-o-transition: all 0.35s ease-in-out;
	}
	&:active {
		&:focus {
			color: $color_10;
			background-color: $background_color_3;
		}
	}
}
/*==============================
      // Navbar //
==============================*/
.navbar-bg {
	background-color: $background_color_2;
	border: 0;
	text-transform: uppercase;
	font-family: $font_family_1;
	letter-spacing: 0.1em;
	font-size: medium;
}
.navbar-bg1 {
	background-color: $background_color_5;
	border: 0;
	text-transform: uppercase;
	font-family: $font_family_1;
	letter-spacing: 0.1em;
	font-size: medium;
}
.navbar-brand {
	&:hover {
		opacity: 0.8;
		transition: all 0.35s ease-in-out;
		-moz-transition: all 0.35s ease-in-out;
		-webkit-transition: all 0.35s ease-in-out;
		-o-transition: all 0.35s ease-in-out;
	}
}
.navbar-nav {
	li {
		a {
			color: $color_11 !important;
			&:hover {
				opacity: 0.6;
				transition: all 0.35s ease-in-out;
				-moz-transition: all 0.35s ease-in-out;
				-webkit-transition: all 0.35s ease-in-out;
				-o-transition: all 0.35s ease-in-out;
			}
		}
	}
}
button {
	&:focus {
		outline: 0 !important;
	}
}
.nav-link {
	color: $color_8;
	font-size: large;
	&:hover {
		color: $color_8;
		opacity: 0.6;
	}
	&:focus {
		color: $color_8;
		outline: 0;
	}
}
.menu {
	width: 35px;
	height: 5px;
	background-color: $background_color_6;
	margin: 6px 0;
	&:hover {
		opacity: 0.8;
		transition: all 0.35s ease-in-out;
		-moz-transition: all 0.35s ease-in-out;
		-webkit-transition: all 0.35s ease-in-out;
		-o-transition: all 0.35s ease-in-out;
	}
}
.navbar-toggler {
	cursor: pointer;
	&:hover {
		cursor: pointer;
	}
}
.overlay {
	height: 0%;
	width: 100%;
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	background-color: rgb(0,0,0);
	background-color: rgba(0,0,0, 0.9);
	overflow-y: hidden;
	transition: 0.5s;
	-moz-transition: 0.5s;
	a {
		padding: 8px;
		text-decoration: none;
		font-size: 36px;
		color: #818181;
		display: block;
		transition: 0.3s;
		&:hover {
			color: #f1f1f1;
		}
		&:focus {
			color: #f1f1f1;
		}
	}
	.closebtn {
		position: absolute;
		top: 20px;
		right: 45px;
		font-size: 60px;
	}
}
.overlay-content {
	position: relative;
	top: 25%;
	width: 100%;
	text-align: center;
	margin-top: 30px;
}
@media screen and (max-height: 450px) {
	.overlay {
		overflow-y: auto;
		a {
			font-size: 20px;
		}
		.closebtn {
			font-size: 40px;
			top: 15px;
			right: 35px;
		}
	}
}

.navbar-toggler {
	&:hover {
		opacity: 0.6;
		transition: all 0.35s ease-in-out;
		-moz-transition: all 0.35s ease-in-out;
		-webkit-transition: all 0.35s ease-in-out;
		-o-transition: all 0.35s ease-in-out;
	}
}
.navbar.solid {
	background-color: $background_color_8;
	transition: background-color 1s ease 0s;
}

/*==============================
      // Carousel //
==============================*/
header {

	.carousel-item {
		img {
			height: 100vh;
			z-index: 9;
			object-fit: cover;
			background-repeat: no-repeat;
			background-position: bottom;
			-webkit-background-size: cover;
			-moz-background-size: cover;
			-o-background-size: cover;
			background-size: cover;
			position: relative;
		}
		h1 {
			color: $color_5;
			font-size: 50px;
			font-weight: 700;
			letter-spacing: -2px;
			padding-bottom: 15px;
			text-transform: uppercase;
		}
		h2 {
			color: $color_19;
			font-size: 30px;
			font-weight: 500;
			letter-spacing: 1px;
			padding-bottom: 30px;
			text-transform: uppercase;
		}
		h5 {
			color: $color_14;
			font-size: 17px;
			font-weight: 400;
			letter-spacing: 0.5px;
			line-height: 30px;
			padding-bottom: 35px;
		}
	}
	.gradient {
		background: -moz-linear-gradient(-45deg, rgba(0, 0, 0, 0.486) 0%, rgba(8, 8, 8, 0.747) 100%);
		background: -webkit-linear-gradient(-45deg, rgba(211, 71, 192, 0.616) 0%,rgba(99, 103, 128, 0.5) 100%);
		background: linear-gradient(135deg, rgba(0, 0, 0, 0.363) 0%,rgba(0, 0, 0, 0.829) 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#80bf0019', endColorstr='#8000159e',GradientType=1 );
		position: absolute;
		z-index: 99;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
	}
	width: 100%;
	height: auto;
	position: relative;
	.carousel-indicators {
		.active {
			background-color: #77657a;
		}
		bottom: 40px;
		li {
			width: 30px;
			height: 30px;
			border-radius: 50%;
			margin-right: 7px;
			margin-left: 7px;
			background-color: rgb(146, 139, 139);
		}
	}
	.carousel-caption {
		position: absolute;
		top: 60%;
		bottom: 0;
		left: 0;
		right: 0;
		width: 50%;
		height: 100%;
		margin: auto;
		z-index: 999;
	}
	.btn-main {
		background-color: $background_color_2;
		color: $color_10;
		font-weight: 700;
		font-size: 18px;
		padding: 20px 35px;
		border-radius: 0px;
		border: 2px solid #e7e7e7;
		text-transform: uppercase;
		&:hover {
			background-color: $background_color_2;
			color: $color_10;
			transition: all 0.35s ease-in-out;
			-moz-transition: all 0.35s ease-in-out;
			-webkit-transition: all 0.35s ease-in-out;
			-o-transition: all 0.35s ease-in-out;
		}
	}
}
.btn-main {

	&:active {
		&:focus {
			background-color: $background_color_2;
			background-color: $background_color_3;
		}
	}
}
/*==============================
      // What is CS //
==============================*/
.block-divider {
	width: 75px;
	height: 5px;
	margin-bottom: 3em;
	background-color: $background_color_9;
}
.philosophies-bg {
	background-image: linear-gradient(135deg, rgb(105, 32, 107), rgb(26, 62, 68), #111);
	padding: 95px 90px 95px 90px;
	color: $color_15;
}
.philosophies-icon {
	font-size: 100px;
	color: $color_16;
	padding: 40px;
}

/*==============================
      // About //
==============================*/
.about-us-col-bg-0 {
	background-image: linear-gradient(135deg, rgb(24, 24, 24), rgb(0, 0, 0));
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
.about-us-col-text-0 {
	color: $color_15;
}
.about-us-col-padding {
	padding: 55px 40px 55px 40px;
	background-image: linear-gradient(135deg, rgb(24, 24, 24), rgb(0, 0, 0));
}
.meetalee-bg {
	background: url('../images/column-background/meetaleethefounder.jpg') no-repeat center center;
	height: 50vh;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
.aboutus-bg {
	background: url('../images/column-background/aboutuscolimg.jpg') no-repeat center center;
	height: 50vh;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
.opaque-pageheaders {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background-color: $background_color_10;
}

/*==============================
      // Who We Are //
==============================*/
.whoweareheader {
	background: url('../images/container-background/aboutusheader.jpg') no-repeat center center;
	height: 70vh;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
.whoweareheadersection {
	-webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 85%);
	clip-path: polygon(0 0, 100% 0, 100% 100%, 0 85%);
}
.whoweareheadertext {
	margin-top: 6em;
}
.whowearecontainergrey {
	background-image: linear-gradient(135deg, rgb(105, 32, 107), rgb(26, 62, 68), #111);
	padding: 120px 40px 95px 40px;
	margin-top: -7em;
}
.whowearecontainerblack {
	background-image: linear-gradient(135deg, rgb(24, 24, 24), rgb(0, 0, 0));
	padding: 120px 40px 95px 40px;
	margin-top: -10em;
}
.whowearecontent {
	padding: 95px 40px 95px 40px;
	color: $color_17;
	margin-top: -4em;
}
.whatwedo-content {
	text-align: center;
	padding: 20px;
	color: $color_19;
	font-size: 1.4em;
}
.whatwedo-icon {
	font-size: 120px;
	color: $color_18;
}
.aboutaleeheader {
	background: url('../images/container-background/thefounderheader.jpg') no-repeat center center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	height: 70vh;
	max-width: 100%;
}
.aboutaleesection {
	-webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 85%);
	clip-path: polygon(0 0, 100% 0, 100% 100%, 0 85%);
}
.heyimaleetext {
	margin-top: 20em;
	margin-left: 25em;
}
.aboutaleecontent {
	padding: 80px 40px 90px 40px;
	color: $color_17;
	font-size: 1.1em;
}
.aleecol {
	background-image: linear-gradient(135deg, rgb(105, 32, 107), rgb(26, 62, 68), #111);
	padding: 100px 40px 95px 40px;
	margin-top: -9em;
}
.aleecol2 {
	background-image: linear-gradient(135deg, rgb(105, 32, 107), rgb(26, 62, 68), #111);
	padding: 100px 40px 100px 40px;
	color: $color_17;
	font-size: 1.1em;
}
.aleecol3 {
	background-image: linear-gradient(135deg, rgb(24, 24, 24), rgb(0, 0, 0));
	padding: 55px 40px 55px 40px;
}
.aleepic1-bg {
	background: url('../images/container-background/aleecolpic2.jpg') no-repeat center center;
	height: 78vh;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
/*==============================
      // Mentorship //
==============================*/
.mentorshipheader {
	background: url('../images/container-background/mentorshipheader.jpg') no-repeat center center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	height: 70vh;
	max-width: 100%;
}
.mentorship-container {
	background-image: linear-gradient(135deg, rgb(24, 24, 24), rgb(0, 0, 0));
	padding: 95px 40px 100px 40px;
}
.mentorship-container1 {
	background-image: linear-gradient(135deg, rgb(105, 32, 107), rgb(26, 62, 68), #111);
	padding: 95px 40px 100px 40px;
	margin-top: -10em;
}
.mentorship-container2 {
	background-image: linear-gradient(135deg, rgb(105, 32, 107), rgb(26, 62, 68), #111);
	padding: 95px 40px 95px 40px;
	color: $color_19;
}
.mentorship-container3 {
	background-image: linear-gradient(135deg, rgb(105, 32, 107), rgb(26, 62, 68), #111);
	color: $color_19;
	padding: 80px 40px 80px 40px;
}
.mentorship-container4 {
	background-image: linear-gradient(135deg, rgb(24, 24, 24), rgb(0, 0, 0));
	padding: 80px 40px 80px 40px;
}
.mentorship-content {
	text-align: center;
	padding: 20px;
}
.mentorship-content2 {
	padding: 20px;
	text-align: left;
	color: $color_19;
	font-size: 1.1em;
}
.mentorship-content3 {
	text-align: center;
	color: $color_19;
	font-size: 1.1em;
}
.mentorship-content4 {
	text-align: center;
	padding: 20px;
	font-size: 1.7em;
}
.aleementorshippic-bg {
	background: url('../images/container-background/aleementorship.jpg') no-repeat center center;
	height: 70vh;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.aleementorshippic1-bg {
	background: url('../images/container-background/aleementorship2.jpg') no-repeat center center;
	height: 70vh;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}


.courses-container {
	background-image: linear-gradient(135deg, rgb(105, 32, 107), rgb(26, 62, 68), #111);
	padding: 90px 40px 90px 40px;
	margin-top: -1.5em;
}

/*==============================
      // Features //
==============================*/
.features {
	background-color: $background_color_11;
	padding: 95px 40px 95px 40px;
}
.features-container {
	background-image: linear-gradient(135deg, rgb(24, 24, 24), rgb(0, 0, 0));
	padding: 90px 40px 90px 40px;
	margin-top: -1.5em;
}
.btn-light-feature {
	background-color: $background_color_5;
	color: $color_10;
	border: 2px solid #e7e7e7;
	border-radius: 0px;
	text-transform: uppercase;
	font-family: $font_family_1;
	font-weight: 600;
	font-size: x-large;
	text-decoration: none;
	display: inline-block;
	cursor: pointer;
	&:hover {
		color: $color_10;
		border: 2px solid #e7e7e7;
		text-transform: uppercase;
		font-family: $font_family_1;
		text-decoration: none;
		display: inline-block;
		cursor: pointer;
		transition: all 0.35s ease-in-out;
		-moz-transition: all 0.35s ease-in-out;
		-webkit-transition: all 0.35s ease-in-out;
		-o-transition: all 0.35s ease-in-out;
	}
	&:active {
		&:focus {
			color: $color_10;
			background-color: $background_color_3;
		}
	}
}
.btn-position {
	.btn-light-feature {
		position: absolute;
		top: 40%;
		left: 50%;
		transform: translate(-50%, -50%);
		-ms-transform: translate(-50%, -50%);
	}
}
.colhover {
	&:hover {
		opacity: 0.6;
		transition: all 0.35s ease-in-out;
		-moz-transition: all 0.35s ease-in-out;
		-webkit-transition: all 0.35s ease-in-out;
		-o-transition: all 0.35s ease-in-out;
	}
}

/*==============================
      // Subscribe //
==============================*/
.subscribe-bg {
	padding: 105px 40px 105px 40px;
	background-image: linear-gradient(135deg, rgb(105, 32, 107), rgb(26, 62, 68), #111);
	color: $color_19;
	margin-top: -1em;
	margin-bottom: -1em;
}
.subscribe-content-container2 {
	padding: 120px 100px 120px 100px;
	background-color: $background_color_12;
}
.subscribe-free-gift {
	font-size: 1.1em;
}
.contact-content-container {
	padding: 95px 60px 95px 60px;
	background-image: linear-gradient(135deg, rgb(105, 32, 107), rgb(26, 62, 68), #111);
}

/*==============================
      // Contact //
==============================*/
.contact-content {
	padding: 30px;
	text-align: center;
	color: $color_19;
	font-size: 1.1em;
	white-space: pre-wrap;
	white-space: -moz-pre-wrap;
	white-space: -pre-wrap;
	white-space: -o-pre-wrap;
	word-wrap: break-word;
}
.contact-page {
	background: url('../images/container-background/contactusheader.jpg') no-repeat center center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	height: 100vh;
}
.contact-page-font {
	color: $color_5;
	text-transform: uppercase;
	text-align: center;
	font-family: $font_family_2;
	font-weight: bold;
	margin: auto;
	padding-bottom: 40px;
}
#rc-imageselect {
	transform: scale(0.90) !important;
	-webkit-transform: scale(0.90) !important;
	transform-origin: 0 0 !important;
	-webkit-transform-origin: 0 0 !important;
}

/*==============================
      // Footer //
==============================*/
footer {
	background-color: $background_color_5;
	margin: 0;
	position: absolute;
	padding: 65px;
	font-family: $font_family_1;
	text-align: center;
	text-transform: uppercase;
}
.mail-content-container {
	text-transform: uppercase;
	text-align: center;
	font-family: $font_family_2;
	font-weight: bold;
	color: $color_20;
	margin: auto;
}
.social-links {
	li {
		a {
			i {
				width: 67px;
				height: 67px;
				padding: 28px 0px;
				border-radius: 60%;
				font-size: 30px;
				line-height: 10px;
				text-align: center;
				color: $color_21;
				background: #be9fc0;
				&:hover {
					opacity: 0.8;
					transition: all 0.35s ease-in-out;
					-moz-transition: all 0.35s ease-in-out;
					-webkit-transition: all 0.35s ease-in-out;
					-o-transition: all 0.35s ease-in-out;
				}
			}
		}
	}
}
.link-btn {
	color: $color_8;
	font-size: large;
	font-weight: bold;
	&:hover {
		color: $color_8;
		opacity: 0.6;
		text-decoration: none;
	}
	&:focus {
		color: $color_8;
		outline: 0;
	}
}
.copyright {
	padding-top: 20px;
	font-family: $font_family_1;
	color: $color_8;
	a {
		&:hover {
			color: $color_11;
			text-decoration: none;
		}
	}
}
.copyright2 {
	padding-top: 20px;
	font-family: $font_family_1;
	color: $color_22;
	a {
		&:hover {
			color: $color_11;
			text-decoration: none;
		}
	}
}

/*------------------
  Course section
---------------------*/

.course-item {
	margin-bottom: 30px;
	.course-thumb {
		height: 270px;
	}
	.course-info {
		background: rgba(5, 5, 5, 0.932);
		color: #b9b3b3;
		.course-text {
			padding: 45px 33px 25px;
			h5 {
				margin-bottom: 5px;
				text-transform: uppercase;
				color: #be9fc0;
				font-family: $font_family_2;
				font-weight: bold;
			}
			a{
				&:hover{
					text-decoration: none;
				}
			}
		}
		.course-author {
			padding: 14px 33px;
			overflow: hidden;
			.ca-pic {
				width: 44px;
				height: 44px;
				border-radius: 50%;
				float: left;
			}
			p {
				padding-left: 60px;
				margin-bottom: 0;
				padding-top: 7px;
				font-weight: 600;
				span {
					color: #e9c9dd;
				}
			}
		}
	}
}
.course-item.featured-course {
	position: relative;
	margin-bottom: 97px;
	&:last-child {
		margin-bottom: 30px;
	}
	&:nth-child(2n) {
		.course-thumb {
			left: auto;
			right: 0;
		}
	}
	.course-thumb {
		position: absolute;
		width: 50%;
		height: 100%;
		left: 0;
		top: 0;
	}
	.course-info {
		.course-text {
			padding: 70px 33px 25px;
			h5 {
				margin-bottom: 20px;
			}
		}
		.course-author {
			border-top: none;
			padding: 14px 33px 60px;
		}
	}
}

/*===================================
      // Various Media Queries //
=====================================*/
@media (max-width: 1024px) {
	.row {
		>div {
			margin-bottom: 20px;
		}
	}
}
@media screen and (max-width: 600px) {
	input[type=submit] {
		width: 100%;
	}
}
@media screen and (max-height: 450px) {
	.sidenav {
		padding-top: 15px;
		a {
			font-size: 18px;
		}
	}
}
@media (max-width: 991px) {
	.column-margin {
	  margin-top: -20px;
	}
  }


/*==============================================
            Carousel Media Queries Styles
===============================================*/
/*== 1920px Media Queries Styles ==*/
@media screen and (max-width: 1920px) {
	header .carousel-item img {width: 100vh;}
}
/*== 1440px Media Queries Styles ==*/
@media screen and (max-width: 1440px) {
	header .carousel-caption {width: 70%;}
	header .carousel-item img {height:800px;}
}
/*== 1024px Media Queries Styles ==*/
@media screen and (max-width: 1024px) {
	header .carousel-item img {height: 640px;}
	header .carousel-item h3{font-size: 16px;padding: 15px 40px;letter-spacing: 0.5px; padding-bottom: 15px;}
	header .carousel-caption {width: 75%;}
	header .carousel-item h1 {font-size: 40px;padding-bottom: 10px;font-weight: 600;letter-spacing: -1px;}
	header .carousel-item h2{font-size: 22px; padding-bottom: 20px;letter-spacing: 0.5px;}
	header .carousel-item h5{font-size: 14px;padding-bottom: 25px;line-height: 24px;}
	header .btn-main {font-size: 14px;padding: 10px 18px;font-weight: 600;}
	.btn-cookie {font-size: 14px;padding: 10px 18px;font-weight: 600;}
	header .carousel-indicators li {width: 25px;
		height: 25px;
		border-radius: 50%;}
}
/*== 768px Media Queries Styles ==*/
@media screen and (max-width: 768px) {

	header .carousel-control-next, .carousel-control-prev {top: 20%;}
	header .carousel-caption {top: 70%;}
	header .carousel-item h3 {font-size: 14px;padding: 15px 30px;}
	header .carousel-item h1 {font-size: 36px;}
	header .carousel-item h2 {font-size: 18px;}
	header .carousel-item h5 {font-size: 12px;line-height: 20px;}
}
/*== 425px Media Queries Styles ==*/
@media screen and (max-width: 425px) {
	header .carousel-item h3 {font-size: 12px;padding: 10px 20px;}
	header .carousel-item h1 {font-size: 22px;padding-bottom: 5px;}
	header .carousel-item h2 {font-size: 14px;padding-bottom: 15px;letter-spacing: 0px;}
	header .btn-main {font-size: 12px;padding: 7px 10px;font-weight: 600;}
	header .carousel-item img {height: 570px;}
	header .carousel-indicators {display:none;}
	.btn-cookie {font-size: 12px;padding: 7px 10px;font-weight: 600;}
}
/*== 375px Media Queries Styles ==*/
@media screen and (max-width: 375px) {
	.top-container .col2 .fa {width: 25px;height: 25px;padding: 7px 0;}
	header .carousel-item h1{font-size: 30px;
	margin-top: -2em;}
	header .carousel-item h2 {font-size: 18px;padding-bottom: 10px;letter-spacing: 0px;}
	header .carousel-item img {height: 520px;}
	footer .footer-copyright p {padding: 10px 5px;margin-bottom: 0;}
	header .carousel-caption {top: 77%;}
	header .carousel-item h3 {margin-bottom: 10px;}
	header .carousel-indicators {display:none;}
	header .btn-main {padding: 5px 10px;}
	header .carousel-control-next, .carousel-control-prev {top: 25%;}
	.btn-cookie {padding: 5px 10px;}
}
/*== 320px Media Queries Styles ==*/
@media screen and (max-width: 320px) {
	.top-container .col2 .fa {width: 23px;height: 23px;padding: 7px 0;font-size: 11px;}
	header .carousel-item h3 {font-size: 11px;padding: 10px 10px;}
	header .carousel-item h5 {line-height: 15px;padding-bottom: 16px;}
}